/* link effects */
/* a { color: #0080F0 } */
/* a:not(.btn):not(.noeffect):after { background-color: #0080F0 } */
/* a:not(.btn):not(.noeffect):hover { color: #0080F0 } */
/* a:not(.btn):not(.noeffect):hover:after { color: #0080F0 } */

/* a.blue { color: white } */
/* a.blue:not(.btn):not(.noeffect):after { background-color: white } */
/* a.blue:not(.btn):not(.noeffect):hover { color: white } */
/* a.blue:not(.btn):not(.noeffect):hover:after { color: white } */

img#capture {
  margin: 0 0 1rem 0;
}

.inline-flex {
  display: inline-flex;
}

.round {
  border-radius: 1rem;
}

@media screen and (min-width: 40em) {
  .medium-stack {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
