<!DOCTYPE html>
<html>
  <head>
    <title>Garage</title>
    <link href="{{ static_url('css/foundation-flex.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ static_url('custom.css') }}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    {% block head %}{% end %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
  </head>
  <body>
    <header class="top-bar">
      <div class="top-bar-title">
        <strong>Garage Door Controller</strong>
      </div>
      <div>
        <div class="top-bar-left"></div>
        <nav class="top-bar-right">
          {% block login_control %}
          {% end %}
        </nav>
      </div>
    </header>

    <main>
      {% block content %}
      <h1>Block content not implemented.</h1>
      {% end %}
    </main>

    {% block body_tail %}{% end %}
  </body>
</html>
