<!DOCTYPE html>
<html>
  <head>
    <title>Garage</title>
    <link href="{{ static_url('css/foundation-flex.css') }}" rel="stylesheet" type="text/css"/>
    <!-- <link href="{{ static_url('stack.css') }}" rel="stylesheet" type="text/css"/> -->
    <link href="{{ static_url('custom.css') }}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
  </head>
  <body>
    <header class="padded blue">
      <div class="container max900">

        <div class="fill middle">
          <span>Garage Door Controller</span>
          <ul class="menu right">
            {% block login_control %}
            <li>
              <a class="blue" href="/logout">
                <i class="fa fa-fw fa-power-off"></i> Logout
              </a>
            </li>
            {% end %}
          </ul>
        </div>

      </div>
    </header>
    <main>
      {% block content %}
      <h3><i class="fa fa-cog"></i> Your Garage</h3>
      <div class="row align-center">
          <div class="column small-12 medium-8 text-right">
              <img id="capture" class="lifted" src="/capture/">
        </div>
        <div class="row column small-up-2 medium-up-1 align-top align-left">
            <div class="column text-center medium-text-left">
                <button class="button large success hollow">Door</button>
            </div>
            <div class="column text-center medium-text-left">
                <button class="button large warning hollow">Light</button>
            </div>
        </div>
      </div>
      {% end %}
    </main>

    <script type="text/javascript" src="/static/refresh.js"></script>
  </body>
</html>
