{% extends 'base.html' %}

{% block login_control %} {% end %}

{% block content %}

<div class="row align-center">
    <div class="medium-4 columns">
        <form action="/login" method="POST">

            <h4 class="text-center">Please log in</h4>
            <label>Username
                <input type="text" name="name">
            </label>
            <label>Password
                <input type="text" name="password">
            </label>
            <p><button type="submit" class="button expanded">Log In</button></p>

        </form>
    </div>
</div>

{% end %}
